click==6.7
decorator==4.2.1
Flask==1.0.2
Flask-Script==2.0.6
gunicorn==19.8.1
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
mod-wsgi==4.6.4
networkx==2.1
numpy==1.14.2
pandas==0.22.0
python-dateutil==2.7.2
pytz==2018.4
scikit-learn==0.19.1
scipy==1.0.1
six==1.11.0
sklearn==0.0
Theano==1.0.1
Werkzeug==0.14.1
